%button.button__left.theme.btn.btn-primary
  = link_to 'Select theme', choose_theme_path, title: "Select theme from your device folder", format: "js", remote: true, data: { turbo: false }, style: "color: white; text-decoration: none;"